<br />
<h1>Devolução de locações</h1>
<br />

<mat-form-field appearance="fill">
  <mat-label>Locações</mat-label>
  <mat-select (selectionChange)="atualizar($event)" required>
    <mat-option>--</mat-option>
    <mat-option *ngFor="let locacao of locacoes" [value]="locacao">
      Filme: {{ locacao.filme }} | Usuário: {{ locacao.usuario }}
    </mat-option>
  </mat-select>
</mat-form-field>

<br />
<br />

<button mat-stroked-button color="primary" (click)="deletar()">Devolver</button>

<br />
<br />
