<br />
<h1>Atualizar filme</h1>
<mat-form-field appearance="fill">
  <mat-label>Selecione o filme a ser atualizado</mat-label>
  <mat-select (selectionChange)="atualizaFilme($event)" required>
    <mat-option>--</mat-option>
    <mat-option *ngFor="let filme of arrayFilmes" [value]="filme">
      {{ filme.titulo }}
    </mat-option>
  </mat-select>
</mat-form-field>
<br />
<br />
<mat-form-field>
  <mat-label>Novo Título:</mat-label>
  <input type="text" name="titulo" [(ngModel)]="titulo" matInput />
</mat-form-field>
<mat-form-field>
  <mat-label>Nova Duração em minutos:</mat-label>
  <input type="text" name="duracao" [(ngModel)]="duracao" matInput />
</mat-form-field>
<mat-form-field>
  <mat-label>Novo Ano:</mat-label>
  <input type="text" name="ano" [(ngModel)]="ano" matInput />
</mat-form-field>
<mat-form-field>
  <mat-label>Novo Gênero:</mat-label>
  <input type="text" name="genero" [(ngModel)]="genero" matInput />
</mat-form-field>
<mat-form-field>
  <mat-label>Novo Diretor:</mat-label>
  <input type="text" name="diretor" [(ngModel)]="diretor" matInput />
</mat-form-field>
<br />
<br />
<div id="botaoAtualizar">
  <button mat-stroked-button color="primary" (click)="update()">
    Atualizar
  </button>
</div>
<br />
<br />
