<br />
<h1>Deletar usuário</h1>
<mat-form-field appearance="fill">
  <mat-label>Selecione o filme a ser atualizado</mat-label>
  <mat-select (selectionChange)="atualizar($event)" required>
    <mat-option>--</mat-option>
    <mat-option *ngFor="let user of array" [value]="user">
      {{ user.nome }}
    </mat-option>
  </mat-select>
</mat-form-field>
<br />
<br />
<div>
  <div id="botaoDeletar">
    <button mat-stroked-button color="primary" (click)="delete()">
      Deletar
    </button>
  </div>
</div>
<br />
<br />
