<br />
<h1>Deletar filme</h1>
<mat-form-field appearance="fill">
  <mat-label>Selecione o filme a ser atualizado</mat-label>
  <mat-select (selectionChange)="atualizaFilme($event)" required>
    <mat-option>--</mat-option>
    <mat-option *ngFor="let filme of arrayFilmes" [value]="filme">
      {{ filme.titulo }}
    </mat-option>
  </mat-select>
</mat-form-field>
<br />
<br />
<div id="botaoDeletar">
  <button mat-stroked-button color="primary" (click)="delete()">Deletar</button>
</div>
<br />
<br />
