<app-header></app-header>
<router-outlet> </router-outlet>
<a routerLink="/usuario/cadastrar">Novo Usuário</a>
<a routerLink="/usuario/atualizar">Atualizar Usuário</a>
<a routerLink="/usuario/deletar">Deletar Usuário</a>
<a routerLink="/usuario/listar">Listar Usuários</a>
<a routerLink="/filme/cadastrar">Novo Filme</a>
<a routerLink="/filme/atualizar">Atualizar Filme</a>
<a routerLink="/filme/deletar">Deletar Filme</a>
<a routerLink="/filme/listar">Listar Filmes</a>
<a routerLink="/locacao/cadastrar">Nova Locação</a>
<a routerLink="/locacao/atualizar">Atualizar Locação</a>
<a routerLink="/locacao/deletar">Devolução de Locação</a>
<a routerLink="/locacao/listar">Listar Locações</a>
