<br />
<h1>Atualizar usuário</h1>
<mat-form-field appearance="fill">
  <mat-label>Selecione o usuário a ser atualizado</mat-label>
  <mat-select (selectionChange)="atualizar($event)" required>
    <mat-option>--</mat-option>
    <mat-option *ngFor="let user of array" [value]="user">
      {{ user.nome }}
    </mat-option>
  </mat-select>
</mat-form-field>
<br />
<br />
<mat-form-field>
  <mat-label>Novo nome do cliente:</mat-label>
  <input type="text" name="nome" [(ngModel)]="nome" matInput />
</mat-form-field>
<br />
<br />
<div id="botaoAtualizar">
  <button mat-stroked-button color="primary" (click)="update()">
    Atualizar
  </button>
</div>
<br />
<br />
