/* You can add global styles to this file and also import other style files */
h1,
a,
li,
label {
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px;
}

a {
  font-size: 14px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field {
  background: #7b1fa2;
  margin: 8px;
  width: 50%;
}

a,
h1,
ol,
table,
li {
  color: #7b1fa2;
}
